.t {
  transform-origin: bottom left;
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;
  line-height: 1.5;
}
.text-container {
  white-space: pre;
}
@supports (-webkit-touch-callout: none) {
  .text-container {
    white-space: normal;
  }
}
#t1_1 {
  left: 289px;
  bottom: 1215px;
  letter-spacing: -0.1px;
}
#t2_1 {
  left: 211px;
  bottom: 1193px;
  letter-spacing: -0.09px;
}
#t3_1 {
  left: 91px;
  bottom: 1172px;
  letter-spacing: -0.09px;
}
#t4_1 {
  left: 641px;
  bottom: 1027px;
  letter-spacing: 0.13px;
}
#t5_1 {
  left: 590.6px;
  bottom: 878.5px;
  letter-spacing: 0.16px;
}
#t6_1 {
  left: 306.7px;
  bottom: 835.7px;
  letter-spacing: 0.14px;
}
#t7_1 {
  left: 315.7px;
  bottom: 870.7px;
  letter-spacing: 0.16px;
}
#t8_1 {
  left: 582px;
  bottom: 1025px;
  letter-spacing: 0.2px;
}
#t9_1 {
  left: 394px;
  bottom: 995px;
  letter-spacing: 0.1px;
}
#ta_1 {
  left: 394px;
  bottom: 980px;
  letter-spacing: 0.13px;
}
#tb_1 {
  left: 394px;
  bottom: 961px;
  letter-spacing: 0.1px;
}
#tc_1 {
  left: 394px;
  bottom: 946px;
  letter-spacing: 0.13px;
}
#td_1 {
  left: 394px;
  bottom: 926px;
  letter-spacing: 0.08px;
}
#te_1 {
  left: 394px;
  bottom: 911px;
  letter-spacing: 0.13px;
}
#tf_1 {
  left: 387px;
  bottom: 873px;
  letter-spacing: -0.15px;
}
#tg_1 {
  left: 351px;
  bottom: 834px;
  letter-spacing: -0.23px;
}

.s0 {
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: bold;
}
.s1 {
  font-size: 12px;
  font-family: OCRB10PitchBT-Regular_5;
  color: #e6e6e6;
}
.s2 {
  font-size: 18px;
  font-family: OCRB10PitchBT-Regular_5;
  color: #000;
}
.s3 {
  font-size: 9px;
  font-family: Helvetica, Arial, sans-serif;
  color: #828282;
  font-weight: bold;
}
.s4 {
  font-size: 12px;
  font-family: OCRB10PitchBT-Regular_5;
  color: #000;
}
.s5 {
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: bold;
}
.s6 {
  font-size: 34px;
  font-family: OCRB10PitchBT-Regular_5;
  color: #000;
}
.t.m0_1 {
  transform: scale(-1);
}
.t.m1_1 {
  transform: matrix(0.867, 0.5, -0.5, 0.87, 0, 0);
}
.t.m2_1 {
  transform: matrix(0.769, -0.64, 0.64, 0.77, 0, 0);
}
.t.m3_1 {
  transform: matrix(0.707, -0.71, 0.71, 0.71, 0, 0);
}

@font-face {
  font-family: OCRB10PitchBT-Regular_5;
  src: url("/public/fonts/OCRB10PitchBT-Regular_5.woff") format("woff");
}

.noscroll {
  -webkit-user-select: none;
}

#pg1 {
  width: 909px;
  height: 1286px;
  -moz-transform: scale(1);
  z-index: 0;
}

@media print {
  .ide {
    display: none;
  }
}
